.git
.gitmodules
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache

models
checkpoints
dataset_cache
tile_cache
projects

*.ipynb
vendor/sam3/assets/videos
vendor/sam3/assets/*.gif
vendor/sam3/assets/*.jpg
